### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
.idea/
.env/
*.py[cod]
*$py.class
.DS_Store
# Translations
*.mo
*.pot

# Django stuff:
*.log
.env_development
core/settings_local.py
/db.sqlite3
navalny_people/migrations
geodata/migrations