@font-face {
    font-family: Activist;
    src: url('../fonts/Activist.ttf');
}

@font-face {
    font-family: Exo2;
    src: url('../fonts/Exo2.otf');
}

body {
    font-family: 'Activist','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0;
}

.background_text {
    color: #0d7fa3;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    left: 410px;
    top: 140px;
}

.background_text p {
    margin-bottom: 0;
}

.background_text h2 {
    color: #fff;
    text-shadow: 0 0 15px rgba(0,0,0,0.2);
    font-size: 48px;
    margin-top: 0;
}

.wrapper {
    box-sizing: border-box;
    height: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.background_wrapper {
    box-sizing: border-box;
    max-width: 1900px;
    margin: 88px auto 0 auto;
    height: 248px;
    background: url('../images/background.jpg') no-repeat;
}

/* NAVBAR START */

.navbar-brand .logo {
    position: relative;
    top: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    z-index: 2;
}

.navbar-brand .duck {
    position: absolute;
    top: 62px;
    width: 50px;
    height: 50px;
    z-index: 1;
}

.navbar {
    background: #fff;
    margin: 0;
}

.navbar .nav {
    margin-left: 80px;
}

.navbar .nav li {
    margin: 0 10px 0 10px;
}

.navbar .nav li > a {
    text-transform: uppercase;
    color: #0d7fa3;
}

.navbar .nav li > a:hover {
    color: #ff3300;
}

.active_link {
    border-bottom: 1px solid #ff3300;
}

.navbar .nav .active_link > a {
    color: #ff3300;
}

.navbar .nav .header_button {
    margin: 20px 0 0 0;
    box-sizing: border-box;
    height: inherit;
    padding: 12px 20px;
    border: 1px solid #0d7fa3;
    border-radius: 3px;
}

.navbar .nav .header_button:hover {
    color: #fff;
    background: #0d7fa3;
}

.mobile_button {
    position: relative;
    top: 35px;
    left: 25vw;
    box-sizing: border-box;
    height: inherit;
    padding: 12px 20px;
    border: 1px solid #0d7fa3;
    border-radius: 3px;
    display: none;
}

.mobile_button:hover {
    color: #fff;
    background: #0d7fa3;
    text-decoration: none;
}

.mobile_button:focus {
    text-decoration: none;
}

.mobile_button:visited {
    text-decoration: none;
}



/* NAVBAR END */


/* SCROLLER START */

.scroller_wrapper {
    position: relative;
    top: -100px;
}

.my-scroller {
    max-width: 1500px;
    min-width: 320px;
    margin: 0 auto;
}

.ab_scroller-item {
    box-sizing: border-box;
    width: 110px;
    height: 200px;
    padding: 35px 0 0 7px;
}

.ab_scroller-item img {
    border-radius: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.ab_scroller-item img:hover {
    transform: scale(1.2);
    opacity: 0.5;
}

/* SCROLLER END */

/* COUNTER START */

.counter {
    margin:0;
}

.counter div {
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    color: #ff3300;
}

.counter div h2 {
    margin-bottom: 0;
    font-size: 35px;
    color: #0d7fa3;
}

/* COUNTER END */

/* FORM START */

.form-header {
    z-index: 1;
    position: relative;
    top: 50px;
    color: black;
    text-align: center;
    text-transform: uppercase;
}

.form-header h2 {
    font-size: 55px;
}

.form-header p {
    background: #fff;
    margin: 0 auto;
    font-family: Exo2, 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: 300;
    width: 200px;
    height: 20px;
}

.form {
    height: 575px;
    background: url('../images/form_background.jpg') no-repeat center;
    padding: 40px 4px 0 4px;
    margin: 0 auto 118px auto;
    max-width: 770px;
}

.form input, .form textarea {
    box-sizing: border-box;
    margin-bottom: 25px;
    font-family: Exo2, 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 300;
    color: #999999;
    border: 1px solid #999999;
    border-radius: 0;
}

.form input {
    height: 40px;
}

.form textarea {
    width: 100%;
    resize: none;
}

.help {
    font-family: Exo2, 'Helvetica Neue',Helvetica,Arial,sans-serif;
    color: #363636;
    display: none;
    background: #fff;
    position: absolute;
    top: 30px;
    right: 45px;
    padding: 12px;
    width: 300px;
    border: 1px solid #363636;
    z-index: 2;
}

.story-container {
    z-index: 1;
    position: relative;
}

.story-container span {
    color: #999999;
    font-size: 21px;
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
}

.form input[type=submit] {
    background: rgba(232, 232, 232, 0.67);
    font-family: Activist, 'Helvetica Neue',Helvetica,Arial,sans-serif;
    margin-top: 24px;
}

.input_file-container {
    padding: 20px 0;
    background: #f5f5f5;
}

.btn_tertiary {
    margin: 0 auto;
    font-family: Exo2, 'Helvetica Neue',Helvetica,Arial,sans-serif;
    box-sizing: border-box;
    padding: 12px 20px;
    font-weight: 300;
    color: #999999;
    line-height: 100%;
    height: 40px;
    width: 150px;
    display: block;
    border: 1px solid #999999;
}

.btn_tertiary:hover,
.btn_tertiary:focus {
    color: #fff;
    background: #999999;
}

.input_file {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.input_file + .js_labelFile {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}

/* FORM END */

/* HOWITWORKS START */

.how_it_works {
    margin: 0 auto 130px auto;
    max-width: 771px;
}

.how_it_works-header {
    margin-bottom: 60px;
    color: black;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
}

.how_it_works-header p {
    font-family: Exo2, 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: 300;
    color: #999999;
}

.how_it_works-item {
    margin-bottom: 10px;
}

.how_it_works-item a {
    padding: 20px 20px 20px 20px;
    font-family: Exo2, 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 300;
    text-decoration: none;
    display: block;
    border: 1px solid #0d7fa3;
    width: 100%;
}

.how_it_works-item a:hover {
    text-decoration: none;
    color: #ff3300;
}

.how_it_works-item a span {
    transform: rotate(0deg);
}

.how_it_works-item p {
    padding: 20px 20px 20px 20px;
    font-family: Exo2, 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 300;
    color: #999999;
    display: none;
    border: 1px solid #0d7fa3;
    border-top: none;
    width: 100%;
}
/* HOWITWORKS END */

/* PEOPLE_LIST START */
.people_list-header {
    height: 155px;
    background: rgba(42, 87, 126, 0.65);
}

.people_list-header,
.people_list {
    position: relative;
    top: -100px;
}

.people_list-item > div,
.people_list-item > div > div {
    height: 95px;
}

.people_list img {
    border-radius: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.item-image {
    padding: 20px 0 0 20px;
}

.item-name {
    padding: 21px 0 0 20px;
}

.item-name h4 {
    color: #0d7fa3;
    margin-bottom: 0;
}

.item-name p,
.item-story p {
    font-family: Exo2, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #999999;
}

.item-story h3 {
    color: #0d7fa3;
    margin: 0 0 5px 0;
}

.people_list-item {
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 13px;
}

.flex-1 {
    display: flex;
    min-width: 25%;
}

.flex-2 {
    padding: 20px 0 0 20px;
    border: 1px solid #999999;
    border-top: none;
    border-bottom: none;
    min-width: 60%;
}

.flex-2 > div {
    height: 150px;
}

.flex-3 {
    padding: 30px 0 0 20px;
    min-width: 15%;
}

.flex-3 span {
    font-size: 20px;
    margin: 10px;
}
/* PEOPLE_LIST END */

/* MEDIA START */

@media (max-width: 991px) {
    .wrapper {
        width: 100%;
    }

    .navbar .nav .header_button {
        display: none;
    }

    .write_button {
        display: block;
        width: 170px;
    }

    .counter div p {
        margin: 0 auto;
        padding-bottom: 20px;
        width: 200px;
        border-bottom: 1px solid #999999;
    }

    .counter div:last-child p {
        border-bottom: none;
    }

    .how_it_works {
        max-width: 700px;
    }

    .counter {
        margin: 50px 0 30px 0;
    }

    .form {
        height: auto;
        background: none;
        margin: 0 auto 50px auto;
    }

    .form input[type=submit] {
        margin-top: 5px;
    }

    .flex-1 {
        min-width: 100%;
    }

    .people_list-item .flex-2 {
        height: 150px;
        border: 1px solid #999999;
        border-right: none;
        border-left:none;
        min-width: 100%;
    }

    .item-story {
        height: 150px;
    }

    .flex-3 {
        text-align: end;
        min-width: 100%;
    }

    .flex-3 {

    }
}

@media (max-width: 768px) {
    .navbar-brand .logo {
        top: -15px;
    }

    .navbar .nav {
        margin-left: 0;
    }

    .mobile_button {
        display: inline;
        width: 170px
    }

    .background_text {
        display: none;
    }

    .how_it_works {
        max-width: 500px;
    }

    .navbar-brand .duck {
        display: none;
    }
}

@media (max-width: 505px) {
    .mobile_button {
        display: none;
    }

    .navbar .nav .header_button {
        display: block;
        width: 170px
    }

    .how_it_works {
        max-width: 300px;
    }
}

/* MEDIA END */

/* ANIMATIONS START */

.navbar-toggle {
    border: none;
    background: transparent !important;
}
.navbar-toggle:hover {
    background: transparent !important;
}
.navbar-toggle .icon-bar {
    width: 22px;
    transition: all 0.2s;
}
.navbar-toggle .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
    opacity: 0;
}
.navbar-toggle .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}
.navbar-toggle.collapsed .top-bar {
    transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
    opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
    transform: rotate(0);
}

@keyframes animation-1 {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes animation-2 {
    0% {
        transform: translateY(30px);
    }
    50% {
        transform: translateY(50px);
    }
    100% {
        transform: translateY(30px);
    }
}

@keyframes animation-3 {
    0% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(-20px);
    }
}

.animation-1 {
    display: block;
    transform: translateY(0);
    animation: animation-1 7.5s infinite ease-in-out;
}

.animation-2 {
    display: block;
    transform: translateY(30px);
    animation: animation-2 8.5s infinite ease-in-out;
}

.animation-3 {
    display: block;
    transform: translateY(-20px);
    animation: animation-3 8s infinite ease-in-out;
}

/* ANIMATIONS END */