{% extends 'template.html' %}
{% load staticfiles %}

{% block title %}404{% endblock %}

{% block content %}
    <div class="background_wrapper background_blue"></div>

<div class="wrapper profile_container">
    <div class="row profile_header-text">
        <div class="text-right col-md-12">
            <h2>Алексей Котенко</h2>
            <p>Дизайнер из Москвы</p>
        </div>
    </div>
    <div class="shadow-container row">
        <div class="row">
            <div class="profile_img_link col-md-12">
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
                    <img src="../static/images/duck.png" alt="photo" width="120" height="120">
                </div>
                <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12 social_icons-container">
                    <div>
                        <img src="{% static '/images/icons/vk.svg' %}" alt="vk">
                        <img src="{% static '/images/icons/facebook.svg' %}" alt="facebook">
                        <img src="{% static '/images/icons/telegram.svg' %}" alt="telegram">
                        <img src="{% static '/images/icons/twitter.svg' %}" alt="twitter">
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12 like_share-container">
                    <div>
                        <img src="../static/images/icons/navalny-like.svg" alt="like">
                        <img src="../static/images/icons/navalny-share.svg" alt="share">
                    </div>
                </div>
            </div>
        </div>
    <div class="row">
        <div class="profile_story col-lg-6 col-md-6 col-sm-6 col-xs-6 col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-xs-offset-3">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing
                elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis
                nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in
                reprehenderit in voluptate velit esse cillum dolore
                eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>
    </div>
</div>
{% endblock %}