<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Example template</title>
    <!-- Bootstrap -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <!-- Style -->
    <link href="../static/css/index.css" rel="stylesheet">
</head>
<body>

<div class="background_wrapper"></div>

<div class="wrapper">
    <div class="container-fluid profile_card">
        <div class="row col-md-12">
            <div class="col-md-1 col-md-offset-1">
            <img src="../static/images/duck.png" alt="photo" width="100" height="100">
            </div>
            <div class="col-md-8 col-md-offset-1">
                <h2>Алексей Котенко</h2>
                <p>Дизайнер из Москвы</p>
            </div>
        </div>
        <div class="row col-md-9 col-md-offset-2 profile_story">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                aute irure dolor in reprehenderit in voluptate velit esse cillum
                dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>

</body>
</html>