<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Example template</title>
    <!-- Bootstrap -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <!-- Style -->
    <link href="../static/css/index.css" rel="stylesheet">
</head>
<body>

<div class="wrapper">
    <div class="story">
        <img src="../static/images/duck.png" width="100" height="100" alt="photo">
        <h3>Утка Кряква</h3>
        <p>Lorem ipsum dolor sit amet, consectetur
            adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Ut enim ad minim
            veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat. Duis aute irure
            dolor in reprehenderit in voluptate velit esse cillum dolore
            eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
            non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>

</body>
</html>