{% extends 'template.html' %}
{% load staticfiles %}

{% block title %}Как это работает{% endblock %}

{% block content %}
<!-- HowItWorks start -->
     <div class="wrapper">
        <div class="how_it_works" id="how_it_works">
            <div class="how_it_works-header">
                <h2>Как это работает?</h2>
                <p>Все, что вы хотели бы знать, и даже больше</p>
            </div>
            <div class="how_it_works-item">
                <a href="#" onclick="return false">Зачем это нужно и для чего?<span
                        class="glyphicon glyphicon-chevron-down pull-right"></span></a>
                <p>-Все предельно просто, как раз, два, три. Расскажите вашу историю и ожидайте проверку
                    модерацией.</p>
            </div>
            <div class="how_it_works-item">
                <a href="#" onclick="return false">Как попасть в раздел Знаменитых и что для этого нужно иметь?<span
                        class="glyphicon glyphicon-chevron-down  pull-right"></span></a>
                <p>-Все предельно просто, как раз, два, три. Расскажите вашу историю и ожидайте проверку
                    модерацией.Все предельно просто, как раз, два, три. Расскажите вашу историю и ожидайте проверку
                    модерацией.</p>
            </div>
            <div class="how_it_works-item">
                <a href="#" onclick="return false">Как стать частью движения Навальный.Люди?<span
                        class="glyphicon glyphicon-chevron-down  pull-right"></span></a>
                <p>-Все предельно просто, как раз, два, три. Расскажите вашу историю и ожидайте проверку
                    модерацией.Все предельно просто, как раз, два, три. Расскажите вашу историю и ожидайте проверку
                    модерацией.Все предельно просто, как раз, два, три. Расскажите вашу историю и ожидайте проверку
                    модерацией.Все предельно просто, как раз, два, три. Расскажите вашу историю и ожидайте проверку
                    модерацией.</p>
            </div>
            <div class="how_it_works-item">
                <a href="#" onclick="return false">Моя информация будет передена в ФСБ и другие гос.органы?<span
                        class="glyphicon glyphicon-chevron-down  pull-right"></span></a>
                <p>-Все предельно просто, как раз, два, три. Расскажите вашу историю и ожидайте проверку
                    модерацией.</p>
            </div>
            <div class="how_it_works-item">
                <a href="#" onclick="return false">Я гражданин другой страны, но поддерживаю действия Навального,
                    что делать?<span
                        class="glyphicon glyphicon-chevron-down  pull-right"></span></a>
                <p>-Все предельно просто, как раз, два, три. Расскажите вашу историю и ожидайте проверку
                    модерацией.Все предельно просто, как раз, два, три. Расскажите вашу историю и ожидайте проверку
                    модерацией.Все предельно просто, как раз, два, три. Расскажите вашу историю и ожидайте проверку
                    модерацией.Все предельно просто, как раз, два, три. Расскажите вашу историю и ожидайте проверку
                    модерацией.Все предельно просто, как раз, два, три. Расскажите вашу историю и ожидайте проверку
                    модерацией.Все предельно просто, как раз, два, три. Расскажите вашу историю и ожидайте проверку
                    модерацией.</p>
            </div>
        </div>
    </div>
    <!-- HowItWorks end -->
{% endblock %}

{% block custom_js %}<script src="{% static 'js/how_it_works_animation.js' %}"></script>{% endblock %}