<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Навальный люди</title>
    <!-- Bootstrap -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <!-- Style -->
    <link href="../static/css/index.css" rel="stylesheet">
    <link rel="icon" href="../static/images/logo.png">
</head>
<body>

<!-- Background_text start -->

<div class="background_text">
    <p>Лента наших</p>
    <h2>Историй</h2>
</div>

<!-- Background_text end -->

<!-- PeopleList start -->

<div class="wrapper">
    <div class="people_list-header"></div>
    <div class="people_list">
        <div class="people_list-item">
            <div class="flex-1">
                <div class="item-image flex-1-1">
                    <img src="../static/images/duck.png" width='55' height='55' alt="photo">
                </div>
                <div class="item-name flex-1-2">
                    <h4>Утка Уткина</h4>
                    <p>Возраст: 23</p>
                </div>
            </div>
            <div class="flex-2">
                <div class="item-story">
                    <h3>Ваша прекрасная история</h3>
                    <p>Кря кря кря кря кря кря кря кря кря кря кря кря кря кря кря кря кря кря кря</p>
                </div>
            </div>
            <div class="flex-3">
                <span class="glyphicon glyphicon-heart">234</span>
                <span class="glyphicon glyphicon-bullhorn">31</span>
            </div>
        </div>
        <div class="people_list-item">
            <div class="flex-1">
                <div class="item-image flex-1-1">
                    <img src="../static/images/duck.png" width='55' height='55' alt="photo">
                </div>
                <div class="item-name flex-1-2">
                    <h4>Утка Уткина</h4>
                    <p>Возраст: 23</p>
                </div>
            </div>
            <div class="flex-2">
                <div class="item-story">
                    <h3>Ваша прекрасная история</h3>
                    <p>Кря кря кря кря кря кря кря кря кря кря кря кря кря кря кря кря кря кря кря</p>
                </div>
            </div>
            <div class="flex-3">
                <span class="glyphicon glyphicon-heart">234</span>
                <span class="glyphicon glyphicon-bullhorn">31</span>
            </div>
        </div>
        <div class="people_list-item">
            <div class="flex-1">
                <div class="item-image flex-1-1">
                    <img src="../static/images/duck.png" width='55' height='55' alt="photo">
                </div>
                <div class="item-name flex-1-2">
                    <h4>Утка Уткина</h4>
                    <p>Возраст: 23</p>
                </div>
            </div>
            <div class="flex-2">
                <div class="item-story">
                    <h3>Ваша прекрасная история</h3>
                    <p>Кря кря кря кря кря кря кря кря кря кря кря кря кря кря кря кря кря кря кря</p>
                </div>
            </div>
            <div class="flex-3">
                <span class="glyphicon glyphicon-heart">234</span>
                <span class="glyphicon glyphicon-bullhorn">31</span>
            </div>
        </div>
        <div class="people_list-item">
            <div class="flex-1">
                <div class="item-image flex-1-1">
                    <img src="../static/images/duck.png" width='55' height='55' alt="photo">
                </div>
                <div class="item-name flex-1-2">
                    <h4>Утка Уткина</h4>
                    <p>Возраст: 23</p>
                </div>
            </div>
            <div class="flex-2">
                <div class="item-story">
                    <h3>Ваша прекрасная история</h3>
                    <p>Кря кря кря кря кря кря кря кря кря кря кря кря кря кря кря кря кря кря кря</p>
                </div>
            </div>
            <div class="flex-3">
                <span class="glyphicon glyphicon-heart">234</span>
                <span class="glyphicon glyphicon-bullhorn">31</span>
            </div>
        </div>
        <div class="people_list-item">
            <div class="flex-1">
                <div class="item-image flex-1-1">
                    <img src="../static/images/duck.png" width='55' height='55' alt="photo">
                </div>
                <div class="item-name flex-1-2">
                    <h4>Утка Уткина</h4>
                    <p>Возраст: 23</p>
                </div>
            </div>
            <div class="flex-2">
                <div class="item-story">
                    <h3>Ваша прекрасная история</h3>
                    <p>Кря кря кря кря кря кря кря кря кря кря кря кря кря кря кря кря кря кря кря</p>
                </div>
            </div>
            <div class="flex-3">
                <span class="glyphicon glyphicon-heart">234</span>
                <span class="glyphicon glyphicon-bullhorn">31</span>
            </div>
        </div>
        <div class="people_list-item">
            <div class="flex-1">
                <div class="item-image flex-1-1">
                    <img src="../static/images/duck.png" width='55' height='55' alt="photo">
                </div>
                <div class="item-name flex-1-2">
                    <h4>Утка Уткина</h4>
                    <p>Возраст: 23</p>
                </div>
            </div>
            <div class="flex-2">
                <div class="item-story">
                    <h3>Ваша прекрасная история</h3>
                    <p>Кря кря кря кря кря кря кря кря кря кря кря кря кря кря кря кря кря кря кря</p>
                </div>
            </div>
            <div class="flex-3">
                <span class="glyphicon glyphicon-heart">234</span>
                <span class="glyphicon glyphicon-bullhorn">31</span>
            </div>
        </div>
        <div class="people_list-item">
            <div class="flex-1">
                <div class="item-image flex-1-1">
                    <img src="../static/images/duck.png" width='55' height='55' alt="photo">
                </div>
                <div class="item-name flex-1-2">
                    <h4>Утка Уткина</h4>
                    <p>Возраст: 23</p>
                </div>
            </div>
            <div class="flex-2">
                <div class="item-story">
                    <h3>Ваша прекрасная история</h3>
                    <p>Кря кря кря кря кря кря кря кря кря кря кря кря кря кря кря кря кря кря кря</p>
                </div>
            </div>
            <div class="flex-3">
                <span class="glyphicon glyphicon-heart">234</span>
                <span class="glyphicon glyphicon-bullhorn">31</span>
            </div>
        </div>
        <div class="people_list-item">
            <div class="flex-1">
                <div class="item-image flex-1-1">
                    <img src="../static/images/duck.png" width='55' height='55' alt="photo">
                </div>
                <div class="item-name flex-1-2">
                    <h4>Утка Уткина</h4>
                    <p>Возраст: 23</p>
                </div>
            </div>
            <div class="flex-2">
                <div class="item-story">
                    <h3>Ваша прекрасная история</h3>
                    <p>Кря кря кря кря кря кря кря кря кря кря кря кря кря кря кря кря кря кря кря</p>
                </div>
            </div>
            <div class="flex-3">
                <span class="glyphicon glyphicon-heart">234</span>
                <span class="glyphicon glyphicon-bullhorn">31</span>
            </div>
        </div>
    </div>
</div>

<!-- PeopleList end -->

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../static/js/bootstrap.min.js"></script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</body>

</html>